# Ignore bin and obj folders for all projects
**/bin/
**/obj/

# Ignore user-specific settings files
*.vs/
*.user
*.suo
*.csproj.user

# Ignore sensitive configuration files
appsettings.json

# Ignore NuGet packages for all projects
**/packages/
